.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
}
footer {
  background-color: #fffa19;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.footer-addres-icon {
  padding-right: 10px;
}
.card-hotel {
  flex: 1 350px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}
.tab-content {
  padding-top: 10px;
}
