@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-right: $bottom;
}
$yellow: #fffa19;


.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer{
   background-color: $yellow;
   padding: 10px 10px 0 10px;
   margin-bottom: 0px;
   margin-top: 10px;
}

.footer-addres-icon {
    padding-right: 10px;
}

.card-hotel {
    flex: 1 350px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.tab-content {
    padding-top: 10px;
}